body {
    background-color: #161c2a;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.square {
    width: 5px;
    height: 5px;
    box-shadow: none;
    float: left;
    padding: 0;
    border-radius: 5000px;
    background-color: #fff;
    position: absolute;
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.movedownanimated {
    animation: linear movedown 5s infinite;
    display: block;
}

@keyframes movedown {
    from {
        top: 0px;
    }
    to {
        top: 100vh;
    }
}