body {
    background-color: #161c2a;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.square {
    width: 22px;
    height: 22px;
    border: 4px solid #05d163;
    box-shadow: none;
    float: left;
    padding: 0;
    margin: 40px 0 30px 40px;
}

.circle {
    width: 22px;
    height: 22px;
    border: 4px solid #05d163;
    box-shadow: none;
    float: left;
    padding: 0;
    margin: 30px 0 20px 30px;
    border-radius: 5000px;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}